html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

.primary-btn,
.primary-input,
.primary-select {
    @apply bg-zinc-700 hover:bg-zinc-600 active:bg-zinc-700;
    @apply border-2 rounded-sm border-zinc-800;
    @apply text-xs font-semibold text-zinc-400;
    @apply px-[6px] py-[2px];
}
.primary-input,
.primary-select {
    @apply bg-zinc-200 hover:bg-zinc-300 active:bg-zinc-200;
    @apply text-zinc-700;
}
.primary-select {
    @apply px-[2px];
}


.navigator-container {
    @apply min-w-[250px] max-w-[250px];
    @apply border-2 border-zinc-950;
    @apply p-2;
    @apply text-zinc-400;
}
.navigator-tab {
    @apply space-y-2;
}

.navigator-panel {
    @apply flex flex-col;
    @apply space-y-1;
}
.navigator-panel > label {
    @apply text-xs font-semibold;
}

.seperator {
    @apply bg-zinc-500 bg-opacity-50 rounded-lg;
    height: 3px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.path {
    stroke-dasharray: 5;
    animation: dash 5s infinite linear;
}

@keyframes dash {
    to {
        stroke-dashoffset: -50;
    }
}

.viewport {
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(rgb(60, 60, 60) 0.8px, rgb(40, 40, 40) 0.8px);
    background-size: 32px 32px;
}
.frame {
    outline: 10000px solid rgba(0, 0, 0, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}



.project-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "project-navigator project-actionbar"
        "project-navigator project-viewport"
        ;
}
.project-actionbar {
    grid-area: project-actionbar;
}
.project-navigator {
    grid-area: project-navigator;
}
.project-viewport {
    grid-area: project-viewport;
}

.menu,
.menu-nested {
    position: relative;
}
.menu > div,
.menu-nested > div {
    position: absolute;
    display: none;
    min-width: 100px;
    left: 0px;
    top: 100%;
}
.menu:hover > div,
.menu-nested:hover > div {
    display: block;
}

.menu-nested > div {
    top: 0px;
    left: 100%;
}
.menu-nested > button {
    width: 100%;
    height: 100%;
    text-align: left;
}

.active {
    @apply border-rose-700;
}