html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    @apply bg-zinc-300;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.side-menu {
    @apply p-1;
    @apply space-y-1;
    @apply bg-zinc-700;
    @apply border-r border-zinc-600;
}
.side-menu > button {
    @apply bg-zinc-200 bg-opacity-0 hover:bg-opacity-20 active:bg-opacity-30;
    @apply p-2;
    @apply rounded-sm;
}
.side-menu > button > svg {
    @apply w-6 h-6 max-w-6 max-h-6;
    @apply fill-zinc-400;
}
.side-menu > button:hover svg {
    @apply fill-zinc-100;
}



.property-container {
    @apply min-w-[275px] max-w-[275px];
    @apply p-2 px-3;
    @apply text-zinc-400;
    @apply bg-zinc-800;
    @apply overflow-auto;
}
.property-tab {
    @apply space-y-2;
}
.property {
    @apply flex flex-col;
}
.property > div {
    @apply space-y-1;
}
.property > label {
    @apply text-xs;
}



.primary-btn,
.primary-input,
.primary-select {
    @apply bg-zinc-700 hover:bg-zinc-600 active:bg-zinc-700;
    @apply rounded-sm;
    @apply border border-zinc-600 border-opacity-50;
    @apply hover:border-zinc-500 focus:border-blue-600 focus:border-opacity-60;
    @apply text-xs text-zinc-400;
    @apply px-2 py-1;
}
.primary-input,
.primary-select {
    @apply bg-zinc-900 hover:bg-zinc-800 active:bg-zinc-900;
    @apply text-zinc-400;
}
.primary-input::placeholder {
    @apply text-zinc-700;
}
.primary-select {
    @apply px-[2px];
}

.primary-btn > svg {
    @apply fill-zinc-400;
    @apply w-4 h-4 max-w-4 max-h-4;
}

.seperator {
    @apply bg-zinc-600 bg-opacity-50 rounded-lg;
    height: 3px;
}



.editor {
    @apply w-full h-full overflow-hidden relative;
    @apply bg-zinc-900;
}



.editor-container {
    @apply w-full h-full flex flex-col;
}
.editor-menu {
    @apply flex flex-row p-1 relative z-20;
}
.menu,
.menu-nested {
    @apply relative;
}
.menu > div,
.menu-nested > div {
    @apply absolute hidden;
    min-width: 100px;
    left: 0px;
    top: 100%;
}
.menu:hover > div,
.menu-nested:hover > div {
    display: block;
}
.menu-nested > div {
    top: 0px;
    left: 100%;
}
.menu-nested > button {
    width: 100%;
    height: 100%;
    text-align: left;
}



.editor-overlay {
    
}



.project {
    @apply w-full h-full flex flex-col;
    @apply overflow-hidden;
}



.project-area-tab {
    @apply h-7;
    @apply overflow-hidden;
}
.tab-container {
    @apply overflow-x-auto;
    @apply px-2;
    @apply flex flex-row;
    @apply w-full h-full space-x-1;
}
.tab-container > .tab {
    @apply cursor-pointer;
    @apply flex flex-row;
    @apply text-xs font-semibold;
    @apply border border-zinc-300 border-opacity-10 border-b-0;
    @apply rounded-tl-sm rounded-tr-sm;
    @apply bg-zinc-400 bg-opacity-5;
}
.tab-container > .tab > button:first-child {
    @apply text-zinc-300;
    @apply p-1 px-3;
}
.tab-container > .tab > button:nth-child(2) {
    @apply invisible;
    @apply text-sm text-zinc-200;
    @apply px-2;
    padding-bottom: 2px;
}
.tab-container > .tab.active {
    @apply bg-opacity-25;
}
.tab-container > .tab.active > button:nth-child(2),
.tab-container > .tab:hover > button:nth-child(2)  {
    @apply visible;
}



.project-area-workspace {
    @apply w-full h-full;
    @apply border-y border-zinc-700;
}
.project-workspace {
    @apply w-full h-full flex flex-row;
}



.project-area-status {

}



@tailwind base;
@tailwind components;
@tailwind utilities;