@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
.path {
    stroke-dasharray: 5;
    animation: dash 5s infinite linear;
}

@keyframes dash {
    to {
        stroke-dashoffset: -50;
    }
}

.viewport {
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(rgb(60, 60, 60) 0.8px, rgb(40, 40, 40) 0.8px);
    background-size: 32px 32px;
}
.frame {
    outline: 10000px solid rgba(0, 0, 0, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}



.project-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "project-navigator project-actionbar"
        "project-navigator project-viewport"
        ;
}
.project-actionbar {
    grid-area: project-actionbar;
}
.project-navigator {
    grid-area: project-navigator;
}
.project-viewport {
    grid-area: project-viewport;
}

.menu {
    position: relative;
}
.menu > div {
    position: absolute;
    display: none;
    min-width: 100px;
    left: 0px;
    top: 100%;
}
.menu:hover > div {
    display: block;
}
.menu-hover {
    position: relative;
}
.menu-hover:hover > div {
    display: block;
}
.menu-hover > div {
    position: absolute;
    display: none;
    top: 0px;
    left: 100%;
}